<!DOCTYPE html>
<html lang="en" ng-app="app">
  <body ng-controller="main">
    <input type="text" ng-model="firstName" placeholder="first name">
    <input type="text" ng-model="lastName" placeholder="last name">
    <h2>Gender {{gender}}</h2>
    <input type="radio" ng-model="gender" value="male" ng-click="style={color:'lightblue'}">Male
    <input type="radio" ng-model="gender" value="female" ng-click="style={color:'pink'}">Female
    <br />
    <h2 ng-style=style>Welcome {{firstName + ' ' + lastName}}</h2>
    <button ng-disabled="!(firstName.length && lastName.length)" ng-click="signup()">Sign Up</button>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="listing16-2.js"></script>
  </body>
</html>
